title: "A.P.Rishikeshvar"
description: ""
url: "https://ap-rishikeshvar.github.io"
theme: null

markdown: kramdown
permalink: /writing/:year/:month/:day/:title/

defaults:
  - scope:
      path: ""
    values:
      layout: "page"
  - scope:
      path: "_posts"
      type: "posts"
    values:
      layout: "post"
